form {
    margin: auto;
}

.heading {
    margin: 1rem;
}

#secLogin {
    width: 300px;
    text-align: center;
    margin: auto;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 98%;
    height: 2rem;
}

button {
    cursor: pointer;
    width: 100%;
    height: 2.5rem;
}

button#singin {
    background-color: #C6A882;
    border: 1px white solid;
    color: white;
}

button#singout {
    background-color: #9ECEB4;
    border: 1px white solid;
    color: white;
}

.input {
    margin-bottom: 1rem;
}

.input label {
    float: left;
}

div#chkNoCerrarSesion {
    text-align: left;
}

div.error-login {
    display: none;
    position: fixed;
    background: red;
    color: white;
    text-align: center;
    padding: 1rem;
    border-radius: 5px;

}

div.error-login.inherit {
    display: inherit;
    cursor: pointer;
}