form {
    margin: auto;
}

.heading {
    margin: 1rem;
}

#secLogin {
    width: 320px;
    text-align: center;
    margin: auto;
}

input[type="text"],
input[type="email"],
input[type="password"],
button {
    width: 100%;
    height: 2rem;
}

button {
    cursor: pointer;
}

input[type="text"],
input[type="email"],
input[type="password"],
button,
#chkNoCerrarSesion {
    margin-bottom: 1rem;
}

.input label {
    float: left;
}

div#chkNoCerrarSesion {
    text-align: left;
}